@import "~bootstrap/scss/bootstrap";

.img {
    width: 200px;
    height: 150px;
}

.image-prev-index {
    img {
        width: 150px;
        height: 150px;
        object-fit: contain;
        outline-offset: 4px;
        outline: 1px solid #5d4df5;
        border-radius: 20px;
    }

    padding:0.5rem 0rem 0.5rem 0rem;

}

td {
    padding-top: 0.5rem;
}

.navbar {

    background-color: #5d4df5;

    .nav-item>a {
        color: white;
    }
}

#Deliveboo {
    width: 80px;

}

// DISHES
.btn-violet {

    background-color: #E9511D;
    color: white;
    padding: 0.8rem 1rem;
    border-radius: 0.5rem;
    text-decoration: none;
    border: none;

    &:hover {
        color: white;
        background-color: #BF3100;
    }
}

.dishes-icons {
    a {

        i {

            color: #5d4df5;
        }

    }
}

.abstract {
    width: 30%;
}

.table-primary a {
    text-decoration: none;
}

#Deliveboo {
    animation-name: logo;
    animation-duration: 3s;
    animation-timing-function: ease;
}

@keyframes logo {
    0% {
        translate: (-170px);
    }

    100% {
        translate: (0px);
    }
}

// 
.right-side-dish,
.show-right-dish {
    width: 40%;

    img {
        max-width: 100%;
        margin-top: 1rem;
    }
}

.left-side-dish,
.show-left-dish {
    width: 60%;
}

.form-dishes {
    gap: 1rem;
}

.icon-show-dish {
    text-align: right;

    a {
        margin-right: 1px;
    }
}

.show-dishes>div>a,
.btn-form-dish {
    background-color: #E9511D;
    color: white;
    padding: 0.8rem 1rem;
    border-radius: 0.5rem;
    text-decoration: none;
    margin-top: 3rem;
    border: none;

    &:hover {
        color: white;
        background-color: #BF3100;
    }
}

.btn-form-dish {
    background-color: #5d4df5;
    padding: 0.5rem 0.9rem;

    &:hover {
        color: white;
        background-color: #2f1be3;
    }
}

#Deliveboo_home {
    width: 500px;
}