@import "~bootstrap/scss/bootstrap";

.img {
    width: 200px;
    height: 150px;
}

.image-prev-index {
    img {
        width: 150px;
        height: 150px;
        object-fit: contain;
        outline-offset: 4px;
        outline: 1px solid #5d4df5;
        border-radius: 20px;
    }

    padding: 0.5rem 0rem 0.5rem 0rem;
}

td {
    padding-top: 0.5rem;
}

.navbar {
    // background-color: #5d4df5;
    background-color: #e9511d;

    .nav-item > a {
        color: white;
    }
}

.nav-bg {
    background-color: #5d4df5;
}

#Deliveboo {
    width: 80px;
}

// DISHES
.btn-violet {
    background-color: #e9511d;
    color: white;
    padding: 0.8rem 1rem;
    border-radius: 0.5rem;
    text-decoration: none;
    border: none;

    &:hover {
        color: white;
        background-color: #bf3100;
    }
}

.dishes-icons {
    a {
        i {
            color: #5d4df5;
        }
    }
}

.abstract {
    width: 30%;
}

.table-primary a {
    text-decoration: none;
}

#Deliveboo {
    animation-name: logo;
    animation-duration: 3s;
    animation-timing-function: ease;
}

@keyframes logo {
    0% {
        translate: (-170px);
    }

    100% {
        translate: (0px);
    }
}

// SHOW DISHES
.jumbo {
    width: 100%;
    height: 300px;
    overflow: auto;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none;
}
.jumbo::-webkit-scrollbar {
    display: none;
}

img {
    height: 100%;
    object-fit: cover;
}

.form-dish-bg {
    // background: #bc48ff;
    // background: -webkit-radial-gradient(circle, #bc48ff 0%, #474bff 100%);
    // background: radial-gradient(circle, #bc48ff 0%, #474bff 100%);
    // height: 100vh;
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;

    .form-contain-dish {
        position: absolute;
    }

    .dish-home {
        border: 1px solid white;
        border-radius: 2rem;
        padding: 2rem 0rem;
        margin: 1rem 0rem;
        top: 300px;
    }

    .reg-card {
        background: rgba(255, 255, 255, 0.25);
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
        border: 1px solid rgba(255, 255, 255, 0.125);
        border-radius: 1rem;
    }

    .ms-home {
        margin-left: 3.6rem;

        a,
        i {
            font-size: 1rem;
        }
    }
}

.card-dish {
    // background: rgba(255, 255, 255, 0.25);
    // -webkit-backdrop-filter: blur(10px);
    // backdrop-filter: blur(10px);
    // border: 3px solid rgba(255, 255, 255, 0.125);
    // border-bottom-left-radius: 1rem;
    // border-bottom-right-radius: 1rem;

    form {
        border-radius: 1rem;
    }

    input,
    textarea {
        background: rgba(255, 255, 255, 0.25);
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
        border: 1px solid rgba(255, 255, 255, 0.125);
    }

    textarea {
        height: 200px;
    }
}

.right-side-dish,
.show-right-dish {
    flex-basis: 100%;

    img {
        max-width: 100%;
        margin-top: 1rem;
    }
}

.left-side-dish,
.show-left-dish {
    width: 60%;
}

.form-dishes {
    gap: 1rem;
}

.icon-show-dish {
    text-align: right;

    a {
        margin-right: 1px;
    }
}

.show-dishes > div > a,
.btn-form-dish {
    background-color: #e9511d;
    color: white;
    padding: 0.8rem 1rem;
    border-radius: 0.5rem;
    text-decoration: none;
    margin-top: 3rem;
    border: none;

    &:hover {
        color: white;
        background-color: #bf3100;
    }
}

.btn-form-dish {
    background: #474bff;
    background: -webkit-linear-gradient(0deg, #474bff 0%, #bc48ff 100%);
    background: linear-gradient(0deg, #474bff 0%, #bc48ff 100%);
    color: white;
    border-radius: 0.8rem;
    padding: 0.8rem 1rem;
    border: none;
    padding: 0.5rem 0.9rem;

    &:hover {
        color: white;
        background: #e9511d;
        background: -webkit-linear-gradient(0deg, #e9511d 0%, #bc48ff 100%);
        background: linear-gradient(0deg, #e9511d 0%, #bc48ff 100%);
        cursor: pointer;
    }
}

// ANIMATION
.gradient {
    width: 100vw;
    min-height: 1400px;
    background: linear-gradient(334deg, #6b97f7, #5d4df5, #f7137e);
    background-size: 180% 180%;
    animation: gradient-animation 6s ease infinite;
}

@keyframes gradient-animation {
    0% {
        background-position: 0% 50%;
    }

    80% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

// HOME
#Deliveboo_home {
    width: 500px;
}

.home-logo {
    width: 350px;
    margin-bottom: 21px;
}

.homelogo-text {
    margin-bottom: 0px;
    color: #ff4e00;
    font-size: 4rem;
}

.btn-violet-home {
    background-color: #5d4df5;
    color: white;
    padding: 0.5rem 0.9rem;
    border-radius: 0.8rem;
    text-decoration: none;

    &:hover {
        background-color: #2f1be3;
        color: white;
    }
}

.image-upload {
    img {
        width: 100%;
        object-fit: contain;
        outline-offset: 4px;
        outline: 1px solid #5d4df5;
        border-radius: 20px;
    }
}

i {
    text-decoration: none;
    cursor: pointer;
}

.card-text {
    height: 80px;
}

.show-card-dish {
    img {
        width: 250px;
        height: 200px;
        object-fit: cover;
    }
}

.home-cards {
    padding: 0px;
}

// WELCOMEPAGE

.show-card-dish {
    background: rgba(255, 255, 255, 0.25);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.125);
    border-radius: 1rem;

    .icon-show-dish a,
    i {
        color: #2f1be3;
        font-size: 1rem;
    }
}

// TRASH

.trash-icons a {
    text-decoration: none;
}
