@import "~bootstrap/scss/bootstrap";

.show-restaurant {

    img {
        outline: 1px solid #5d4df5;
        outline-offset: 10px;
        border-radius: 1rem;
        width: 60%;
    }
}

.rest-show a {
    background-color: #E9511D;
    border: none;

    &:hover {
        color: white;
        background-color: #BF3100;
    }
}

.show-info-rest {
    gap: 1rem;
    font-size: 1.2rem;
}

// Restaurant EDIT
.restaurant-edit {
    gap: 2rem;
}

.left-side-restaurant {
    width: 50%;
}

.right-side-restaurant {
    width: 50%;

    img {
        width: 100%;
        height: 100%;
    }
}

.card-show-restaurant {
    max-height: 500px;
    object-fit: cover;
    margin-bottom: 3rem;
}