@import "~bootstrap/scss/bootstrap";

.types-image-preview {
    width: 400px;
    height: 200px;
    object-fit: contain;
}

.force-width {
    width: 20% !important;
}
.see-color-type {
    background-color: black;
}
.personal-w {
    width: 15%;
}
